{% extends 'base.html' %}
{% block baseBlock %}

            {% for n in data %}
            <div class="todo-item">
                <span>
                    <strong>
                        {{n.tdName |slice:":18"|title}}     
                        {% if n.tdName|length >= 18 %}
                        ...
                        {% endif %}
                    </strong>
                </span>
                <div>
                    {% load static %}
                    <a href="{% url 'detail' n.id%}"><button type="button" class="btn btn-sm btn-outline-success"><i class="bi bi-eye"></i></button></a>
                    <a href="{% url 'update' n.id%}"><button type="button" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button></a>
                    <a href="{% url 'delete' n.id%}"><button type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button></a>
                </div>
            </div>
            {% endfor %}
{% endblock baseBlock %}
